<ul class="nav text-bg-primary p-3">
    <li class="nav-item">
        <a class="nav-link text-bg-primary" aria-current="page" href="/libros">Listado de libros</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-bg-primary" href="/libros/nuevo">Añadir Libro</a>
    </li>
</ul>